.animation {
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }

}

.user-nav {
  &____link {
    transition: background-color 0.3s;
  }

  &__link:active {
    background-color: rgba(256, 256, 256, 0.1);
  }
}

.product {
  &__list {
    transition: border 0.3s;
  }

  &__list:hover {
    border: 1px solid $default-element;
  }

  &__like-img {
    transition: fill 0.4s;
  }

  &__like:hover .product__like-img {
    fill: #ffb800;
  }
}

.animation-btn {
  transition: box-shadow 0.3s,
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 4px $animation-btn-focus;
    outline: transparent;
  }

  &:hover {
    background-color: $animation-btn-hover;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.5);
  }
}

.header__search-btn {
  &:focus {
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    outline: transparent;
  }

  &:hover {
    background-color: rgba(49, 53, 43, 0.85);
  }
}

.best {
  &__btn-yet {
    transition: box-shadow 0.3s,
      background-color 0.3s,
      color 0.3s,
      box-shadow 0.3s;
  }

  &__btn-yet:focus {
    box-shadow: 0px 0px 0px 4px rgba(99, 166, 14, 0.5);
    outline: transparent;
  }

  &__btn-yet:hover {
    background-color: $animation-best-btn-hover;
  }

  &__btn-yet:active {
    color: rgba(99, 166, 14, 0.5);
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.btn-more {
  transition: background-color 0.3s;

  &::after {
    transition: transform 0.3s;
  }

  &:hover,
  &:active {
    background-color: $animation-btn-focus;
  }

  &:hover::after,
  &:active::after {
    transform: rotate(180deg);
  }
}

.slick-arrows {
  transition: background-color 0.3s,
    box-shadow 0.3s;

  &:focus {
    outline: transparent;
    background-color: $animation-btn-focus;
    box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
  }

  &:hover,
  &:active {
    background-color: $animation-btn-focus;
  }
}

.best {

  &__btn::after {
    @extend %pseudo;
    height: 3px;
    width: 100%;
    opacity: 0.2;
    left: 0;
    bottom: 10px;
    background-color: transparent;
    transition: background-color 0.3s;
  }

  &__btn:hover::after {
    background-color: $default-element;
  }
}