@font-face {
  font-family: 'Ruda';
  src:
    url('../fonts/ruda/Ruda-Black.woff2') format('woff2'),
    url('../fonts/ruda/Ruda-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src:
    url('../fonts/ruda/Ruda-Bold.woff2') format('woff2'),
    url('../fonts/ruda/Ruda-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src:
    url('../fonts/ruda/Ruda-SemiBold.woff2') format('woff2'),
    url('../fonts/ruda/Ruda-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src:
    url('../fonts/ruda/Ruda-Regular.woff2') format('woff2'),
    url('../fonts/ruda/Ruda-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/open_sans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/open_sans/OpenSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/open_sans/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/open_sans/OpenSans-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/open_sans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/open_sans/OpenSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src:
    url('../fonts/open_sans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/open_sans/OpenSans-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}