.slick-arrows {
  background-color: rgba ($white, 0.8);
  padding: 5px 10px 0 10px;
  border: none;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  border-radius: 6px;
  top: 50%;
  transform: translateY(-50%);

  &:focus .slick-arrows__path,
  &:hover .slick-arrows__path,
  &:active .slick-arrows__path {
    fill: $green-900;
  }

  &__path {
    transition: fill 0.3s;
  }
}

.slick-prev {
  left: 50px;
}

.slick-next {
  right: 50px;
}

.mixitup-control-active::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  opacity: 0.2;
  left: 0;
  bottom: 10px;
  background-color: $green-900;
}