.slick-arrows {
  background-color: $bgshadow;
  padding: 0;
  border: none;
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  border-radius: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 20px;
  /*другой вариант, что лучше?
  right: calc(1320px + (100vw - 1320px) / 2);*/
}

.slick-next {
  /*другой вариант, что лучше?
  left: calc(1320px + (100vw - 1320px) / 2);*/
  right: 20px;
}

.slick-arrows::before {
  @extend %pseudo;
  @extend %bgcontain;
  width: 19px;
  height: 32px;
  top: 14px;
  left: 20px;
}

.slick-prev::before {
  background-image: url(../images/icon/arrow-left.svg);
}

.slick-next::before {
  background-image: url(../images/icon/arrow-right.svg);
}