$black: #000000;
$dark-400: #4f4f4f;
$dark-500: #505050;
$dark-800: #31352b;
$dark-850:#171717;
$dark-900: #121212;
$yellow-900: #ffb800;
$orange-900: #ff7a00;
$red-900: #cf3e3b;
$silver-100: #f6f6f6;
$silver-600: #c1c1c1;
$green-100: #eff6e7;
$green-200:#e0edcf;
$green-500: #4d810c;
$green-900: #63a60f;
$white: #ffffff;

%ruda {
  font-family: 'Ruda',
    sans-serif;
}

%open {
  font-family: 'OpenSans',
    sans-serif;
}

%animation {
  opacity: 1;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

%animation-icon {
  transition: background-color 0.3s;

  &:active {
    background-color: rgba($white, 0.1);
  }
}

%animation-btn {
  outline: 0;
  transition: box-shadow 0.3s,
    background-color 0.3s,
    color 0.3s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
    outline: transparent;
  }

  &:hover {
    background-color: $green-500;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
    color: rgba($white, 0.5);
  }
}

%animation-btn-yen {
  transition: box-shadow 0.3s,
    background-color 0.3s,
    color 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 4px rgba($green-900, 0.5);
  }

  &:hover {
    background-color: $green-100;
  }

  &:active {
    color: rgba($green-900, 0.5);
    box-shadow: inset 0px 10px 4px rgba($black, 0.1);
  }
}