$default: #121212;

%ruda-700 {
  font-family: 'Ruda-Bold',
    sans-serif;
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold',
    sans-serif;
  font-weight: 600;
}

%ruda-400 {
  font-family: 'Ruda-Regular',
    sans-serif;
  font-weight: 400;
}

%open-700 {
  font-family: 'OpenSans-Bold',
    sans-serif;
  font-weight: 700;
}

%open-600 {
  font-family: 'OpenSans-SemiBold',
    sans-serif;
  font-weight: 600;
}

%open-400 {
  font-family: 'OpenSans-Regular',
    sans-serif;
  font-weight: 400;
}

%open-300 {
  font-family: 'OpenSans-Light',
    sans-serif;
  font-weight: 300;
}