$black: #000000;
$dark-300: #ebebeb;
$dark-400: #4f4f4f;
$dark-500: #505050;
$dark-800: #31352b;
$dark-850:#171717;
$dark-900: #121212;
$yellow-900: #ffb800;
$orange-900: #ff7a00;
$red-900: #cf3e3b;
$silver-100: #f6f6f6;
$silver-200: #f5f5f5;
$silver-600: #c1c1c1;
$green-100: #eff6e7;
$green-200:#e0edcf;
$green-500: #4d810c;
$green-900: #63a60e;
$white: #ffffff;