.card-news {
  position: relative;

  &:hover .card-news__title {
    color: $green-900;
  }

  &__img {
    width: 410px;
    height: 240px;
    object-fit: cover;

    @include w576 {
      height: 200px;
    }
  }

  &__box {
    padding: 18px;

    @include w576 {
      padding: 15px 15px 16px;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    transition: color 0.3s;

    @include line-clamp(3);

    @include w576 {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    background-color: $white;
    padding-top: 18px;
    text-align: center;
    width: 65px;
    height: 76px;
    text-transform: uppercase;
    border-radius: 0 0 4px 4px;
  }

  &__month {
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-bottom: 3px;
  }

  &__day {
    font-family: 'Ruda',
      sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }
}