.header {
  &__navigation {
    letter-spacing: 0.03em;
  }

  &__top {
    font-family: 'OpenSans', sans-serif;
    font-weight: 700;
    color: $white;
    background-color: $dark-800;
    padding: 3px 0;
    font-size: 13px;
    text-transform: uppercase;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom {
    background-color: $green-900;
    padding: 25px 0;
    position: relative;

    @include w768 {
      padding: 6px 0;
    }
  }

  &__bottom-inner {
    display: flex;
    align-items: center;

    @include w768 {
      justify-content: space-between;
    }
  }

  &__form {
    max-width: 576px;
    margin-right: auto;
    position: relative;

    @include w1200 {
      max-width: 330px;
    }

    @include w992 {
      max-width: 280px;
    }

    @include w768 {
      display: none;
    }


    &--mobile {
      display: flex;
      position: absolute;
      bottom: -50px;
      left: 0;
      max-width: 100%;
      transform: scale(0);
      transition: transform 0.4s;
    }

    &--active {
      /* display: flex; */
      transform: scale(1);
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/svg_sprite/sprite.svg#icon--search);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      fill: #31352B;
      width: 32px;
      height: 32px;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);

      @include w992 {
        left: 0;
      }

      @include w768 {
        left: 3px;
        width: 40px;
        height: 40px;
      }
    }
  }

  &__search {
    padding: 15px 10px 15px 53px;
    border-radius: 6px 0 0 6px;
    background-color: $white;
    color: $dark-800;
    width: 100%;

    @include w992 {
      padding-left: 30px;
    }

    @include w768 {
      padding-left: 46px;
      border-radius: 0;
    }

    &::placeholder {
      color: $dark-800;
      font-weight: 400;
      letter-spacing: 0.03em;
    }
  }

  &__search-btn {
    background-color: $dark-800;
    color: $white;
    border-radius: 0 6px 6px 0;
    padding: 15px 52px;
    text-transform: uppercase;
    transition: box-shadow 0.3s, outline 0.3s, background-color 0.3s;

    @include w1200 {
      padding: 15px 30px;
    }

    @include w992 {
      padding: 15px;
    }

    @include w768 {
      padding: 15px 29px;
      border-radius: 0;
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba($white, 0.5);
      outline: transparent;
    }

    &:hover {
      background-color: rgba($dark-800, 0.85);
    }
  }
}