.logo {
  margin-right: 24px;
  display: inline-block;

  @include w992 {
    margin-right: 5px;
  }

  &__img {
    width: 200px;
    height: 60px;
    object-fit: contain;

    @include w1200 {
      width: 160px;
    }

    @include w992 {
      width: 140px;
    }

    @include w576 {
      display: none;
    }
  }

  &__img--short {
    display: none;

    @include w576 {
      display: block;
    }
  }
}