.news {
  padding: 72px 0;

  @include w576 {
    padding: 40px 0 48px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include w768 {
      flex-direction: column;
      align-items: start;
      margin-bottom: 15px;
    }
  }

  &__link {
    line-height: 1;
    color: $green-900;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin-right: 7px;
    letter-spacing: 0.03em;
    padding: 10px 0 20px;
    transition: color 0.3s;

    &:hover,
    &:active {
      color: $green-500;

      &::after {
        background-color: $green-500;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $green-900;
      left: 0;
      bottom: 11px;
      transition: background-color 0.3s;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include w768 {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 410px;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    &--middle {
      margin: 0 10px;

      @include w768 {
        margin: 15px 0;
      }
    }
  }
}