.product-list {
  display: grid;
  /*   grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  text-align: left;
  margin-bottom: 50px;

  @include w768 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include w576 {
    grid-gap: 5px;
    margin-bottom: 25px;
  }

  &__item {
    border: 1px solid rgba($dark-850, 0.2);
    border-radius: 6px;
    min-height: 344px;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $green-900;
    }
  }
}