.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  text-align: left;
  margin-bottom: 50px;

  &__item {
    border: 1px solid rgba($dark-850, 0.2);
    border-radius: 6px;
    transition: border 0.3s;

    &:hover {
      border: 1px solid $green-900;
    }
  }
}