.social {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 39px;
  }
}