.user {
  max-width: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @include w992 {
    width: max-content;
  }

  &__item {
    &--search {
      display: none;

      @include w768 {
        display: block;
      }
    }

    &--nomobile {
      @include w768 {
        display: none;
      }
    }
  }

  &__btn {
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 3px;
  }

  &__btn-img {
    object-fit: contain;

    &--user {
      width: 25px;
      height: 32px;
    }

    &--heart {
      width: 32px;
      height: 29px;
    }

    &--search {
      width: 24px;
      height: 24px;
      fill: $white;
    }

    &--cart {
      width: 32px;
      height: 31px;

      @include w768 {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__number {
    position: absolute;
    background-color: $white;
    border-radius: 50%;
    color: $red-900;
    font-size: 10px;
    line-height: 1;
    padding: 4px 3px;
    left: 3px;
    top: 4px;

    @include w768 {
      left: 6px;
    }
  }
}