<section class="banner-promotion">
  <div class="container">
    <h2 class="sr-only">баннер</h2>
    <ul class="banner-promotion__list">
      <li class="banner-promotion__item banner-promotion__item--big"
        style="background-image: url(images/banners/banners-bg-1.jpg);">
        <h3 class="banner-promotion__title">
          свежайшие фрукты
        </h3>
        <div class="banner-promotion__text banner-promotion__text--big">
          <p>
            начни фруктовое лето всего от 99 ₽
          </p>
        </div>
        <a class="banner-promotion__link banner-promotion__link--big" href="#">
          перейти к покупкам
        </a>
      </li>

      <li class="banner-promotion__item banner-promotion__item--middle"
        style="background-image: url(images/banners/banners-bg-2.jpg);">
        <h3 class="banner-promotion__title">
          сезонная распродажа
        </h3>
        <div class="banner-promotion__text">
          <p>
            овощепад до -50%
          </p>
        </div>
        <a class="banner-promotion__link" href="#">
          перейти к покупкам
        </a>
      </li>

      <li class="banner-promotion__item" style="background-image: url(images/banners/banners-bg-3.jpg);">
        <h3 class="banner-promotion__title">
          ням-ням
        </h3>
        <div class="banner-promotion__text">
          <p>
            свежий хлебчик
          </p>
        </div>
        <a class="banner-promotion__link" href="#">
          перейти к покупкам
        </a>
      </li>
    </ul>
  </div>
</section>