<section class="benefits">
  <div class="container">
    <h2 class="sr-only">Наши преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits__item benefits__item--scooter">
        <h3 class="benefits__title">Бесплатная доставка</h3>
        <span class="benefits__text">Для заказов на сумму от 500 ₽</span>
      </li>

      <li class="benefits__item benefits__item--return-box">
        <h3 class="benefits__title">Возврат товара</h3>
        <span class="benefits__text">Если товары были испорчены</span>
      </li>

      <li class="benefits__item benefits__item--24-hours">
        <h3 class="benefits__title">Поддержка 24/7</h3>
        <span class="benefits__text">Лучшие операторы</span>
      </li>
    </ul>
  </div>
</section>