<section class="benefits">
  <div class="container">
    <h2 class="sr-only">Наши преимущества</h2>
    <ul class="benefits__list">
      <li class="benefits__item" style="background-image: url(images/svg_sprite/sprite.svg#benefits--scooter);">
        <div class="benefits__box">
          <h3 class="benefits__title">Бесплатная доставка</h3>
          <span class="benefits__text">Для заказов на сумму от 500 ₽</span>
        </div>

      </li>

      <li class="benefits__item" style="background-image: url(images/svg_sprite/sprite.svg#benefits--return-box);">
        <div class="benefits__box">
          <h3 class="benefits__title">Возврат товара</h3>
          <span class="benefits__text">Если товары были испорчены</span>
        </div>

      </li>

      <li class="benefits__item benefits__item--24-hours"
        style="background-image: url(images/svg_sprite/sprite.svg#benefits--24-hours);">
        <div class="benefits__box">
          <h3 class="benefits__title">Поддержка 24/7</h3>
          <span class="benefits__text">Лучшие операторы</span>
        </div>

      </li>
    </ul>
  </div>
</section>