<section class="brands-product">
  <div class="container">
    <h2 class="sr-only">сотрудничаем с брендами</h2>
    <ul class="brands-product__list">
      <li class="brands-product__item" style="background-image: url(images/brands/sprite.svg)">
        <h3 class="sr-only">sprite</h3>
      </li>

      <li class="brands-product__item" style="background-image: url(images/brands/dr-pepper.svg)">
        <h3 class="sr-only">Dr. Pepper</h3>
      </li>

      <li class="brands-product__item" style="background-image: url(images/brands/coca-cola.svg)">
        <h3 class="sr-only">coca-cola</h3>
      </li>

      <li class="brands-product__item" style="background-image: url(images/brands/pepsi.svg)">
        <h3 class="sr-only">pepsi</h3>
      </li>

      <li class="brands-product__item" style="background-image: url(images/brands/redbull.svg)">
        <h3 class="sr-only">redbull</h3>
      </li>

      <li class="brands-product__item" style="background-image: url(images/brands/fanta.svg)">
        <h3 class="sr-only">fanta</h3>
      </li>
    </ul>
  </div>
</section>