<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <a class="logo footer__logo" href="#">
        <img class="logo__img footer__img" src="images/logo.svg" alt="логотип ФрешОК">
      </a>
      <div class="footer__inner">
        <div class="footer__box">
          <span class="footer__text">
            Следите за нашими акциями
          </span>
          <form class="footer__form form" action="">
            <label class="sr-only">подписаться на рассылку</label>
            <input class="footer__sub animation-input" name="subscribe" placeholder="email@email.com" type="email"
              required>
            <button class="footer__btn btn animation-btn" type="submit">подписаться</button>
          </form>
        </div>

        <ul class="footer__list">
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              О нас
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__tink">
              Контакты
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              Публичная оферта
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              Оплата и доставка
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              Вакансии
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              Акции
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              Отзывы
            </a>
          </li>
          <li class="footer__item animation">
            <a href="#" class="footer__link">
              Новости
            </a>
          </li>
        </ul>

        <address class="footer__address">
          <a class="footer__info animation" href="tel:+7907288365">
            Горячая линия +7 907 288 365
          </a>

          <a class="footer__info animation" href="#">
            Санкт-Петербург, Ул. Ленина, 1
          </a>

          <ul class="social">
            <li class="social__item">
              <a class="social__link animation" href="#" target="_blank"
                style="background-image: url(images/social/facebook.svg);">
                <span class="sr-only">наша страница на фейсбуке</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link animation" href="#" target="_blank"
                style="background-image: url(images/social/youtube.svg);">
                <span class="sr-only">наш ютуб канал</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link animation" href="#" target="_blank"
                style="background-image: url(images/social/telegram.svg);">
                <span class="sr-only">наш телеграм канал</span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link animation" href="#" target="_blank"
                style="background-image: url(images/social/instagram.svg);">
                <span class="sr-only">наша инстаграм страница</span>
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__block">
        <span class="footer__date">© 2021 ФРЕШОК</span>
        <div class="footer__container">
          <a class="footer__accept animation" href="#" style="background-image: url(images/icon/icon/visa.svg);">
            <span class="sr-only">оплата картами visa</span>
          </a>
          <a class="footer__accept animation" href="#" style="background-image: url(images/icon/icon/mc.svg);">
            <span class="sr-only">оплата картами master card</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>