<header class="header">
  <nav class="header__navigation">
    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">

          <button class="burger" type="button">
            <span class="burger__line"></span>
            <span class="sr-only">кнопка меню</span>
          </button>

          <address class="header-address">
            <a class="header-address__adds animation" href="#">
              <svg class="header-address__img header-address__img--address">
                <use xlink:href="images/svg_sprite/sprite.svg#icon--address"></use>
              </svg>
              <span class="header-address__text">адрес и время доставки</span>

            </a>

            <a class="header-address__adds animation" href="tel:+7907288365">
              <svg class="header-address__img header-address__img--tel">
                <use xlink:href="images/svg_sprite/sprite.svg#icon--tel"></use>
              </svg>
              <span class="sr-only">телефон +7907288365</span>
              <span class="header-address__text">горячая линия 24/7</span>
            </a>
          </address>

          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link animation" href="#">
                доставка
              </a>
            </li>

            <li class="menu__item">
              <a class="menu__link animation" href="#">
                о нас
              </a>
            </li>

            <li class="menu__item">
              <a class="menu__link animation" href="#">
                новости
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h1 class="sr-only">ФРЕШОК продуктовый магазин</h1>

    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">
          <a class="logo" href="#">
            <img class="logo__img" src="images/logo.svg" alt="логотип ФрешОК">
            <img class="logo__img--short" src="images/logo-short.svg" alt="логотип ФрешОК">
          </a>

          <div class="catalog">
            <button class="catalog__btn" type="button">
              Каталог продуктов
            </button>

            <ul class="catalog__list" data-simplebar>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Овощи и фрукты
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Бакалея
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Молочные продукты
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Хлеб
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Мясо
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Колбаса
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Рыба
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Алкоголь
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Напитки
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Торты
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Мясо
                </a>
              </li>
              <li class="catalog__item">
                <a class="catalog__link" href="#">
                  Чай, кофе
                </a>
              </li>
            </ul>
          </div>

          <form class="header__form form" action="">
            <label class="sr-only">поиск товаров</label>
            <input class="header__search animation-input" name="search" placeholder="Найти в магазине ..." type="search"
              required autofocus>
            <button class="header__search-btn" type="submit">поиск</button>
          </form>

          <form class="header__form header__form--mobile form" action="">
            <label class="sr-only">поиск товаров</label>
            <input class="header__search animation-input" name="search" placeholder="Я ищу..." type="search" required>
            <button class="header__search-btn" type="submit">поиск</button>
          </form>

          <ul class="user">
            <li class="user__item user__item--nomobile animation-icon">
              <button class="user__btn user__btn--user" type="button">
                <svg class="user__btn-img user__btn-img--user">
                  <use xlink:href="images/svg_sprite/sprite.svg#icon--user"></use>
                </svg>
                <span class="sr-only">личный кабинет</span>
              </button>
            </li>

            <li class="user__item user__item--nomobile animation-icon">
              <button class="user__btn user__btn--heart" type="button">
                <span class="sr-only">избранные товары количество</span>
                <svg class="user__btn-img user__btn-img--heart">
                  <use xlink:href="images/svg_sprite/sprite.svg#icon--heart"></use>
                </svg>
                <span class="user__number">12</span>
              </button>
            </li>

            <li class="user__item user__item--search animation-icon">
              <button class="user__btn user__btn--search" type="button">
                <span class="sr-only">поиск товара</span>
                <svg class="user__btn-img user__btn-img--search">
                  <use xlink:href="images/svg_sprite/sprite.svg#icon--search"></use>
                </svg>
              </button>
            </li>

            <li class="user__item animation-icon">
              <button class="user__btn user__btn--cart" type="button">
                <span class="sr-only">товаров в корзине</span>
                <svg class="user__btn-img user__btn-img--cart">
                  <use xlink:href="images/svg_sprite/sprite.svg#icon--cart"></use>
                </svg>
                <span class="user__number">12</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>