<section class="hero">
  <h2 class="sr-only">слайдер</h2>
  <ul class="hero__list">
    <li class="hero__item" style="background-image: url(images/hero/vegetables.jpg);">
      <div class="container">
        <div class="hero__container">
          <div class="hero__inner">
            <h3 class="hero__title">
              свежачок вам в хату
              <span class="hero__subtitle">скидка -50%</span>
            </h3>

            <div class="hero__text">
              <p>
                Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%. Торопитесь!
              </p>
            </div>

            <a class="btn animation-btn" href="#">Купить сейчас</a>
          </div>
        </div>
      </div>
    </li>

    <li class="hero__item" style="background-image: url(images/hero/tomatoes.jpg);">
      <div class="container hero__container">
        <div class="hero__inner">
          <h3 class="hero__title">
            накрути себе томатов
            <span class="hero__subtitle">акция: 3 кг по цене 1</span>
          </h3>

          <div class="hero__text">
            <p>
              Только с 12 по 15 июля скидка на домашние помидорчики
            </p>
          </div>

          <a class="btn animation-btn" href="#">Купить сейчас</a>
        </div>
      </div>
    </li>

    <li class="hero__item" style="background-image: url(images/hero/greens.jpg);">
      <div class="container hero__container">
        <div class="hero__inner">
          <h3 class="hero__title">
            пусть остальные позеленеют от зависти
            <span class="hero__subtitle">распродажа зелени</span>
          </h3>

          <a class="btn animation-btn" href="#">Купить сейчас</a>
        </div>
      </div>
    </li>
  </ul>
</section>