<section class="menu-mobile">
  <div class="menu-mobile__header">
    <a class="logo" href="#">
      <img class="logo__img logo__img--mobile menu-mobile__logo" src="images/logo-mobile-menu.svg" alt="логотип ФрешОК">
    </a>
    <button class="close close--menu animation-icon animation-icon--close" type="button"></button>
  </div>

  <div class="menu-mobile__user">
    <button class="menu-mobile__sign-in" type="button">
      Вход
    </button>
    <button class="menu-mobile__sign-up" type="button">
      Регистрация
    </button>
  </div>

  <div class="menu-mobile__box">
    <a class="menu-mobile__catalog" href="#">
      Каталог товаров
    </a>
  </div>

  <address class="menu-mobile__address">
    <div class="menu-mobile__container">
      <a class="menu-mobile__link menu-mobile__link--phone" href="tel:+7907288365">
        +7 907 288 365
      </a>
      <a class="menu-mobile__link menu-mobile__link--address" href="#">
        Санкт-Петербург, Ул. Ленина, 1
      </a>
    </div>


    <ul class="social">
      <li class="social__item">
        <a class="social__link social__link--mobile animation" href="#" target="_blank"
          style="background-image: url(images/social/facebook.svg);">
          <span class="sr-only">наша страница на фейсбуке</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--mobile animation" href="#" target="_blank"
          style="background-image: url(images/social/youtube.svg);">
          <span class="sr-only">наш ютуб канал</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--mobile animation" href="#" target="_blank"
          style="background-image: url(images/social/telegram.svg);">
          <span class="sr-only">наш телеграм канал</span>
        </a>
      </li>
      <li class="social__item">
        <a class="social__link social__link--mobile animation" href="#" target="_blank"
          style="background-image: url(images/social/instagram.svg);">
          <span class="sr-only">наша инстаграм страница</span>
        </a>
      </li>
    </ul>
  </address>

  <ul class="menu-mobile__list">
    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Доставка
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        О нас
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Новости
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Контакты
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Акции
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Вакансии
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Отзывы
      </a>
    </li>

    <li class="menu-mobile__item">
      <a class="menu-mobile__ref" href="#">
        Публичная оферта
      </a>
    </li>
  </ul>
</section>