<section class="promo-product" data-ref="container-2">
  <div class="container">
    <div class="promo-product__inner">
      <h2 class="title promo-product__title">
        Акции
      </h2>

      <ul class="filter-product promo-product__filter">
        <li class="filter-product__item">
          <button class="filter-product__btn" type="button" data-filter="all">
            все товары
          </button>
        </li>

        <li class="filter-product__item">
          <button class="filter-product__btn" type="button" data-filter=".category-1">
            новинки
          </button>
        </li>

        <li class="filter-product__item">
          <button class="filter-product__btn" type="button" data-filter=".category-2">
            хиты
          </button>
        </li>
      </ul>

      <ul class="promo-product__list">
        <li class="promo-product__item mix category-1">
          <article class="card-product">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card">новинка</span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange"></span>
              <img class="mini-card__img" src="images/product/pineapple.jpg" alt="ананас">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Ананас, 1 кг
                </h3>

                <span class="mini-card__availability">В наличии</span>
                <span class="mini-card__availability mini-card__availability--red"></span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">999<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">1999 ₽</span>
                  <span class="mini-card__score">4.5</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-1">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card">новинка</span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange"></span>
              <img class="mini-card__img" src="images/product/coffee.jpg" alt="кофе">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Кофе с коноплей органический Caffé Salomoni 250г
                </h3>
                <span class="mini-card__availability mini-card__availability--red">заканчивается</span>
                <span class="mini-card__availability"></span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">777<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">877 ₽</span>
                  <span class="mini-card__score">4.9</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-1">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card">новинка</span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange"></span>
              <img class="mini-card__img" src="images/product/strawberry.jpg" alt="клубника">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Клубника, 1 кг
                </h3>

                <span class="mini-card__availability"></span>
                <span class="mini-card__availability mini-card__availability--red"></span>
                <span class="mini-card__availability mini-card__availability--gray">нет в наличии</span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">440<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">600 ₽</span>
                  <span class="mini-card__score">5.0</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-1">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card">новинка</span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange"></span>
              <img class="mini-card__img" src="images/product/mango.jpg" alt="манго">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Манго, 1 шт
                </h3>

                <span class="mini-card__availability">В наличии</span>
                <span class="mini-card__availability mini-card__availability--red"></span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">660<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">960 ₽</span>
                  <span class="mini-card__score">5.0</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-1">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card">новинка</span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange"></span>
              <img class="mini-card__img" src="images/product/salmon.jpg" alt="лосось">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Лосось, 1 кг
                </h3>

                <span class="mini-card__availability">в наличии</span>
                <span class="mini-card__availability mini-card__availability--red"></span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">999<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">1199 ₽</span>
                  <span class="mini-card__score">4.5</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-2">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card"></span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange">хит</span>
              <img class="mini-card__img" src="images/product/veg-juice.jpg" alt="сок">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Сок Granini овощной 100%, 0.5л
                </h3>

                <span class="mini-card__availability"></span>
                <span class="mini-card__availability mini-card__availability--red">заканчивается</span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">180<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">230 ₽</span>
                  <span class="mini-card__score">4.9</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-2">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card"></span>
              <span class="badge badge--mini-card badge--red"></span>
              <span class="badge badge--mini-card badge--orange">хит</span>
              <img class="mini-card__img" src="images/product/basket.jpg" alt="фруктовая корзина">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Фруктовая корзина, 1 шт
                </h3>

                <span class="mini-card__availability"></span>
                <span class="mini-card__availability mini-card__availability--red"></span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">3990<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">5990 ₽</span>
                  <span class="mini-card__score">4.8</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>

        <li class="promo-product__item mix category-2">
          <article class="mini-card">
            <a class="mini-card__link" href="#">
              <span class="badge badge--mini-card badge--orange">хит</span>
              <span class="badge badge--mini-card"></span>
              <span class="badge badge--mini-card badge--red"></span>
              <img class="mini-card__img" src="images/product/pork.jpg" alt="свинина">
              <div class="mini-card__container">
                <h3 class="mini-card__title">
                  Свинина мякоть, 1 кг
                </h3>

                <span class="mini-card__availability">в наличии</span>
                <span class="mini-card__availability mini-card__availability--red"></span>
                <span class="mini-card__availability mini-card__availability--gray"></span>

                <div class="mini-card__evaluation">
                  <span class="mini-card__price">499<span class="mini-card__value">₽</span></span>
                  <span class="mini-card__price--old">599 ₽</span>
                  <span class="mini-card__score">4.6</span>
                  <svg class="mini-card__star">
                    <use xlink:href="images/svg_sprite/sprite.svg#icon--star"></use>
                  </svg>
                </div>
              </div>
            </a>
          </article>
        </li>
      </ul>
      <button class="btn animation-btn" type="button">
        Показать еще
      </button>
    </div>
  </div>
</section>